body {
	margin: 0;
	padding:0;

	font-family: "Roboto", Aria, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;


	
	background-color: #849d8f;
	
}
.container {
	width: 1200px;
	margin: auto;
	
	
}
.content {
    padding-left: 2.3%;
    padding-right: 2.3%;
}



.main-header {
	display: flex;
	justify-content: space-between;



}
.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: 740px;
}
.user-navigation {
	display: flex;
	padding: 0;
	align-items: center;
	margin: 0;
}

.site-navigation {
	display: flex;
	padding: 0;
	margin: 0;
}

.working-time-phone-block {
	display: block;
	
}
.working-time-phone {
	display: flex;
	flex-direction: row-reverse;
}
.slide {
    display: block;
    margin-top: 200px;
} 
.slide-hidden {
    display: none;
}
.slyder {
	padding-top: 2.2%;
}

.advertising {
	padding: 2.2% 0;
}
				  	
.about {
	padding: 2.2% 0;
}
.news-blog-and-distribution {
	padding-top: 2.2% ;
	
}
.raspberry {
	margin-right: 2.65%;
	width: 560px;
}
.chocolate {
	width: 560px;
	margin-left:  0.55%;
}














.switch-slide input[type=radio] {
    display: none;
}



.slider-controls label {
	display: inline-block;
    width: 17px;
    height: 17px;
    margin: 0 3px;
    background-color: #8ca698;
    border: 2px solid white;
    border-radius: 50%;
    transition: background-color 0.2s;
    cursor: pointer;
}
.slider-controls label:hover {
	background-color: #b2c1b7;
}
.slide-1:checked ~.slider-controls label[for="slide-1"],
.slide-2:checked ~.slider-controls label[for="slide-2"],
.slide-3:checked ~.slider-controls label[for="slide-3"]  {
	background-color: #ffffff;
}


.ul-advertising {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;

}

.ul-ice-cream {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
	flex-wrap: wrap;
	
}

.about-us {
	
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	flex-wrap: wrap;

}

.news-blog-and-distribution {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contact {
	background-color: #fdfefe;
	width: 302px;
	height: 305px;
}
.maiin-footer {
	display: flex;
	justify-content: space-between;
	height: 60px;
	align-items: center;

}
.social-networks {
	display: flex;
	padding: 0;
	margin: 0;
	width: 190px;
	justify-content: space-between;
}



.info-partnership {
	display: flex;
	align-items: flex-start;
}


/**************************************КАТАЛОГ*******************************************************************************************/

.way {
	display: flex;
	justify-content: flex-start;
}
.way-list {
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.filter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.title-list-radio {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}

.title-list-checkbox {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
}
.pagination {
	display: flex;
	justify-content: flex-end;
}
.pagination-list {
	display: flex;

}











.page-index {
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 1045px 881px;
	background-position: 50% 0;
}

li.site-navigation-list-item {
	list-style-type: none;
}



/*Каталог Доставка и оплата ОКомпании
обычное состояние */
.site-navigation-list-item>a {
	line-height: 18px;
	padding: 7px 13px;
	color: #ffffff;
	
}
/*Каталог Доставка и оплата ОКомпании
при наведении*/

.site-navigation-list-item>a:hover {
	background-color: #f7f6f3;
	color: #323232;
	text-decoration: none;
	line-height: 18px;
	padding: 7px 13px;
	border-radius: 21px;

}
.site-navigation-list-item>a:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 2px #696969;
	

}

/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
ссылки без подчеркивания 
без отступов
шрифт темный*/


.hr-basket {
    background-color: #cacac7;
    border: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
}

.site-navigation .inner-ice {
	position: absolute;
	display: none;  
	margin-top: 12px;          /*************************************************************************************************************************/
}
.site-navigation>li:hover .inner-ice{
	display: block;
}


 ul.inner-ice{
	list-style-type: none;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0;
}
ul.inner-ice:hover {
	display: block;
}
/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на элементы списка(не ссылки) */
.inner-ice li {
	padding: 5px;
}
.inner-ice li:last-child:hover {
	border-radius:  0 0 5px 5px; 
}
.inner-ice li:first-child:hover {
	border-radius: 5px 5px 0 0 ; 
}
.inner-ice li:hover
 {
	background-color: #fbded7;
	
}
.inner-ice li:active
 {
 	color: #f8f7f4;
	background-color: #f6b5a5;	
}

.inner-ice a {
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding:0px;
	color: #323232;
	padding-left: 21px;
}
/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на ссылку*/

.inner-ice a:active {
	box-shadow: none;
}

/*Новинки жирным шрифтом*/
.inner-new a {
	font-weight: bold;
	
}

.inner-new {
	position: relative;
}
.inner-new:before {
	content: '';
	position: absolute;
	width: 128px;
	height: 1px;
	background-color:#d1d0ce;
	left: 6px;
	right: 9px; 
	bottom: 0px;

}

/*белай фон где список*/
.inner-ice {
	width: 143px;
	background-color: #f8f7f4;
	border-radius: 5px;
	

}

/***************************************************************************************************************************************************************************/

/*поиск,вход,корзина*/
li.navigation-button {
	list-style-type: none;
	font-size: 14px;
	line-height: 16px;
}

.user-navigation a {           
	color: #ffffff;
	text-decoration: none;

} 
.loupe {           
	padding: 8px;
	padding-bottom: 3px;
	padding-top: 10px;
	border-radius: 50%;

} 
.navigation-link {
	background-color: #b0c0b7;
	color: #ffffff;
	fill: #ffffff;
	

}
.navigation-link:hover {
	background-color: #f8f7f4;
	color: #323232;
	fill: #323232;
	

}
.send {
	display: none;
}      


/***************************************************************/
.input-form  {
	background-color: #f8f7f4;
	width: 313px;
	height: 252px;
	display: none;                                        /************************************************************************************************************/
	
}
.input-form-text {
	font-size: 14px;
	line-height: 24px;
}

.working-time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}
ul.slides {
	list-style-type: none;
}
.slide-h3 {
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
}

.slide2, .slide3 {
	display: none;
}


.red-button   {
	background-image: linear-gradient( rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 50px;
	outline: none;
	text-decoration: none;
	padding: 9px 13px;
	justify-content: center;
	 
  
}

.red-button:hover {
    background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 50px;
	outline: none;
	text-decoration: none;
}
.red-button:active {
	background-image: linear-gradient(  rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 50px;
	outline: none;
	text-decoration: none;
}



.help a {
	background-color: #f8f7f4 ;
	color: #323232;
}

.help a {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	text-decoration: underline;

}
.help a:hover{
	color: #e84d37;
}



.switch {
	color: #ffffff;
	border-radius: 50%;
}
.switch.active {
	background-color: #ffffff;

}
/******************************большие кнопочки***********************************************************************/
button.button-slider  {
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	padding: 13px 21px;
	display: block;
	margin: auto;



	

}

button.button-slider:hover {
	background: linear-gradient(to bottom,#f58669 0%,#ec6f5e 100%);
	
	font-size: 32px;
	line-height: 44px;	
	

}
button.button-slider:active {
	background-image: linear-gradient(  rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	font-size: 32px;
	line-height: 44px;
}



.ice-cream img {
	border-radius: 50%;
} 

/**************************************************************/
.name-price {
	text-align: center;
}
.name-price a {
	
	color: #ffffff;


}
.name-price a:hover {
	
	color: #ffbc9e;

}



/********************************************************************hit*************************************************/


.quick-view {
	display: none;
	min-width: 168px;
	margin: auto;
}
.quick-view:hover {
	
	margin: auto;
}
.list-item-ice-cream:hover .quick-view {
	display: block;

	
}
li.list-item-ice-cream {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 22.2%;
	list-style-type: none;
	min-height: 290px;
	padding: 0 1.1%;


}
.list-item-ice-cream:hover {
	position: relative;
	background-color: #9db1a5;
}

.list-item-ice-cream:hover{
  	opacity: 0.9;
	

}
.card {
	width: 100%;
	height: 100%;
}








.price {
	position: absolute;
	top: 217px;
	color: #ffffff;
	font-size: 45px;
	font-weight: bold;
	line-height: 1;
	margin:0;
}

.hit {
	position: absolute;
	top:0px;
	left: 0px;
}



/***************************************************************/
ul.ul-advertising {
	list-style-type: none;
}

.advertising h2 {
	font-size: 35px;
	line-height: 41px;
	margin: 0;
}
.advertising p {
	font-size: 18px;
	line-height: 22px;
	margin: 0;
}
.raspberry {
	background-image: url(../img/raspberry.jpg);
	background-repeat: no-repeat;
	min-height: 230px;
}
.chocolate {
	background-image: url(../img/chocolate.jpg);
	background-repeat: no-repeat;
}


.about {
	background-image: url(../img/waffle.jpg);
	
}
.about h3 {
	font-size: 24px;
	line-height: 30px;
	margin: 0;
}

.about
 {
	color: #323232;
	font-weight: normal;
}
li.about-list-item {
	list-style-type: none;
	width: 533px;
}
.news-blog {
	background-image: url(../img/blog-1200.jpg);
	background-repeat: no-repeat;
	width: 560px;
	min-height: 220px;
	
}
.news-blog a{
	color: #353535;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
}
.news-blog p
{
	color: #5a5a5a;
	font-weight: normal;
}
.distribution-content {
	background-color: #f8f7f4;
	width: 560px;
	min-height: 220px;
}
.distribution {
	
}
.distribution p
{
	color: #5a5a5a;
	font-weight: normal;

}

.contacts
 {	
 	background-image: url(../img/mup1200.jpg);
	background-repeat: no-repeat;
	background-position: center;
	color: #323232;
	font-weight: normal;
	background-color: #fefefe;
	
	min-height: 430px;
	display: flex;
	flex-direction: row-reverse;
}

.contacts p {
	font-size: 14px;
	line-height: 20px;
}


.contacts b{
	font-size: 18px;
	line-height: 24px;
}


li.social-network {
	list-style-type: none;
}


.social-network svg {
	fill: #e6ebe9;
	border: 2px solid #c2cec7; 
	border-radius: 50%;
}

.social-network svg:hover {
	fill: #ffffff;
	border: 2px solid #dae2de; 
	border-radius: 50%;
}
.social-network svg:active {
	fill: #e9e9e9;
	border: 2px solid #dae2de; 
	border-radius: 50%;
}


.info-partnership-links {
	margin: 0px;
	padding: 0px;
	display: flex;
	width: 328px;
	flex-wrap: wrap;
	
}
li.info-partnership-link {
	list-style-type:none;
	width: 163px;
}

.info-partnership a{
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
.info-partnership a:hover {
	color: #ffbc9e;
}
.info-partnership a:nth-of-type(1){
	font-weight: normal;
}

.htmlacademy p {
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
.htmlacademy p a  {
	color: #ffffff;
	font-weight: normal;
}
.htmlacademy p a:hover  {
	color: #ffbc9e;
	
}

.feedback {
	background-color: #f8f7f4;
	width: 478px;
	height: 443px;
	display: none; /************************************************************************************************************************************************************************/
}
.feedback b {
	color: #323232;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}


.feedback-form input,
.feedback-form textarea {
	font-size: 16px;
	line-height: 24.3px;
	border-color: #e9e9e9;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	font-size: 16px;
	line-height: 24.3px;
	border-color: #999999;
}

.feedback-form input:active,
.feedback-form textarea:active {
	font-size: 16px;
	line-height: 24.3px;

	
}



/*************************************************************************************************КАТАЛОГ******************************************************************************************************/
.site-navigation-list-item-active {
	background-color: #d07058;
	color: #ffffff;
	border-radius: 21px;
	text-decoration: none;
}

.basket {
	background-color: #ffffff;
	width: 570px;
	height: 277px;
	border-radius: 10px;
	display: none;                              /************************************************************************************************************/
}
.basket td {
	color: #323232;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.basket span{
	color: #9f9f9f;
}

/***********************************************!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!********************/
/*.creamy {         
  	background-color: rgb(208, 112, 88);
}*/


.basket p{
	color: #323232;
	font-size: 15px;
	line-height: 18px;
}


ul.way-list {
	list-style-type: none; 
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}
.way-list a {
	color: #ffffff;

}
.way-list a:hover {
	color: #ffbc9e;
}

.head-filter {
	font-size: 35px;
	line-height: 41px;
}

.filter legend  {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}


.sort {
	font-size: 16px;
	font-weight: normal;
}

.radio,
.checkbox {
	font-size: 16px;
	line-height: 18px;
}

/*Голубая кнопочка ПРИМЕНИТЬ*********/
.button-apply{
	background-color: #9cb0a4;
	border-color: #ffffff;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;	
  	border-style: solid;
  	border-width: 2px;
  	background-image: none;
  	box-shadow: none;
  	border-radius: 50px; 
}

.button-apply:hover {	 
 	background-color: #ffffff;
  	color: #323232;
}
.button-apply:active {
	background-color: #eaeaea;
  	box-shadow: inset 0px 1px 2px 0px #696969;	
  	color: #323232;
}


/*************************************************************************/
ul.title-list-radio{
	list-style-type: none;
}



ul.title-list-checkbox {
	list-style-type: none;
}





li.pagination-item {
	list-style-type: none;
}

.pagination-item a{
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}


.pagination-item a:hover{
	color: #ffffff;
	background-color: #9db1a5;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.pagination-item a:active{
	color: #323232;
	background-color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }