body {
	margin: 0;
	padding:0;

	font-family: "Roboto", Aria, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;


	
	background-color: #849d8f;
	
}


.page-index {
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 1045px 881px;
	background-position: 50% 0;
}











li.site-navigation-list-item {
	list-style-type: none;
}




/*Каталог Доставка и оплата ОКомпании
обычное состояние */
.site-navigation-list-item>a {
	line-height: 18px;
	padding: 9px 14px;
	color: #ffffff;
	
}
/*Каталог Доставка и оплата ОКомпании
при наведении*/

.site-navigation-list-item>a:hover {
	background-color: #f7f6f3;
	color: #323232;
	text-decoration: none;
	line-height: 18px;
	padding: 11px 14px;
	border-radius: 21px;

}
.site-navigation-list-item>a:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 2px #696969;
	

}

/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
ссылки без подчеркивания 
без отступов
шрифт темный*/


.hr-basket {
    background-color: #cacac7;
    border: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
}

ul.inner-ice {
	/*display: none;*/
}
 ul.inner-ice{
	list-style-type: none;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0;
}

/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на элементы списка(не ссылки) */
.inner-ice li {
	padding: 5px;
}
.inner-ice li:last-child:hover {
	border-radius:  0 0 5px 5px; 
}
.inner-ice li:first-child:hover {
	border-radius: 5px 5px 0 0 ; 
}
.inner-ice li:hover
 {
	background-color: #fbded7;
	
}
.inner-ice li:active
 {
 	color: #f8f7f4;
	background-color: #f6b5a5;	
}

.inner-ice a {
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding:0px;
	color: #323232;
	padding-left: 21px;
}
/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на ссылку*/

.inner-ice a:active {
	box-shadow: none;
}

/*Новинки жирным шрифтом*/
.inner-new a {
	font-weight: bold;
	
}

.inner-new {
	position: relative;
}
.inner-new:before {
	content: '';
	position: absolute;
	width: 128px;
	height: 1px;
	background-color:#d1d0ce;
	left: 6px;
	right: 9px; 
	bottom: 0px;

}

/*белай фон где список*/
.inner-ice {
	width: 143px;
	background-color: #f8f7f4;
	border-radius: 5px;
	

}

/***************************************************************************************************************************************************************************/

/*поиск,вход,корзина*/
li.navigation-button {
	list-style-type: none;
	font-size: 14px;
	line-height: 16px;
}

.user-navigation a {           
	color: #ffffff;
	text-decoration: none;

} 
.navigation-link {
	background-color: #b0c0b7;
	color: #ffffff;
	fill: #ffffff;
	

}
.navigation-link:hover {
	background-color: #f8f7f4;
	color: #323232;
	fill: #323232;
	

}
      

/*********************************************************/

/***************************************************************/
.input-form  {
	background-color: #f8f7f4;
	width: 313px;
	height: 252px;
	
}
.input-form-text {
	font-size: 14px;
	line-height: 24px;
}

.working-time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}
ul.slides {
	list-style-type: none;
}
.slide-h3 {
	font-size: 60px;
	line-height: 60.35px;
}

button[type="submit"]  {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
	 
  
}

button[type="submit"]:hover {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
 	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
}
button[type="submit"]:active {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
}














.help a {
	background-color: #f8f7f4 ;
	color: #323232;
}

.help a {
	color: #323232;
	font-size: 13px;
	line-height: 16px;
	text-decoration: underline;

}
.help a:hover{
	color: #e84d37;
}





.switch {
	color: #ffffff;
	border-radius: 50%;
}
.switch.active {
	background-color: #ffffff;

}

button.button-slider  {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
	 
  
}

button.button-slider:hover {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
 	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
}
button.button-slider:active {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	border-radius: 30px;
	outline: none;
}















.ice-cream img {
	border-radius: 50%;
} 

/**************************************************************/
.ice-cream a {
	
	color: #ffffff;

}
.ice-cream a:hover {
	
	color: #ffbc9e;

}



/********************************************************************hit*************************************************/


.strawberry-img {

}
li.list-item-ice-cream {
	position: relative;
	list-style-type: none;
}
.list-item-ice-cream:hover {
	position: relative;
	background-color: #9db1a5;
}
.price {
	position: absolute;
	bottom: 60px;
	color: #ffffff;
	font-size: 45px;
	font-weight: bold;
	line-height: 1;
}

.hit {
	position: absolute;
	top:0px;
	left: 0px;
}












/***************************************************************/
ul.ul-advertising {
	list-style-type: none;
}

.advertising h2 {
	font-size: 35px;
	line-height: 41px;
}
.advertising p {
	font-size: 18px;
	line-height: 22px;
}
.raspberry {
	background-image: url(../img/raspberry.jpg);
	width: 420px;
	height: 229px;
}
.chocolate {
	background-image: url(../img/chocolate.jpg);
	width: 420px;
	height: 229px;
}
/****************************************ссылки с классом кнопка *****************************************/
 a.button {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
a.button:hover {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
a.button:active {	
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}

.about {
	background-image: url(../img/waffle.jpg);

}
.about h3 {
	font-size: 24px;
	line-height: 30px;
}

.about
 {
	color: #323232;
	font-weight: normal;
}
li.about-list-item {
	list-style-type: none;
}
.news-blog {
	background-image: url(../img/blog.jpg);
	width: 420px;
	height: 220px;
}
.news-blog a{
	color: #353535;
	font-weight: normal;
	font-size: 24px;
	line-height: 30px;
}
.news-blog p
{
	color: #5a5a5a;
	font-weight: normal;
}
.distribution-content {
	background-color: #f8f7f4;
}
.distribution {
	width: 420px;
	height: 220px;
}
.distribution p
{
	color: #5a5a5a;
	font-weight: normal;
}

.contacts
 {
	color: #323232;
	font-weight: normal;
	background-color: #fefefe;
	width: 302px;
	height: 305px;
}

.contacts p {
	font-size: 14px;
	line-height: 20px;
}


.contacts b{
	font-size: 18px;
	line-height: 24px;
}


li.social-network {
	list-style-type: none;
}
.social-button-link {	
	fill: #e6ebe9;
}


.social-button-link:hover {	
	fill: #ffffff;
	
}

.social-button-link:active {	
	fill: #e9e9e9;
	
}




















li.info-partnership-link {
	list-style-type:none;
}

.info-partnership a{
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
.info-partnership a:hover {
	color: #ffbc9e;
}
.info-partnership a:nth-of-type(1){
	font-weight: normal;
}

.htmlacademy p {
	font-size: 12px;
	line-height: 18px;
}
.htmlacademy p a  {
	color: #ffffff;
	font-weight: normal;
}
.htmlacademy p a:hover  {
	color: #ffbc9e;
	
}

.feedback {
	background-color: #f8f7f4;
	width: 478px;
	height: 443px;
}
.feedback b {
	color: #323232;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
}


.feedback-form input,
.feedback-form textarea {
	font-size: 16px;
	line-height: 24.3px;
	border-color: #e9e9e9;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	font-size: 16px;
	line-height: 24.3px;
	border-color: #999999;
}

.feedback-form input:active,
.feedback-form textarea:active {
	font-size: 16px;
	line-height: 24.3px;

	
}



/*************************************************************************************************КАТАЛОГ******************************************************************************************************/
.site-navigation-list-item-active {
	background-color: #d07058;
	color: #ffffff;
	border-radius: 21px;
	text-decoration: none;
}

.basket {
	background-color: #ffffff;
	width: 570px;
	height: 277px;
	border-radius: 10px;
}
.basket td {
	color: #323232;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.basket span{
	color: #9f9f9f;
}



/***********************************************!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!********************/
/*.creamy {         
  	background-color: rgb(208, 112, 88);
}*/


.basket p{
	color: #323232;
	font-size: 15px;
	line-height: 18px;
}


.basket a.button {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.basket a.button:hover {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.basket a.button:active {	
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}




ul.way {
	list-style-type: none; 
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}
.way a {
	color: #ffffff;

}
.way a:hover {
	color: #ffbc9e;
}

.head-filter {
	font-size: 35px;
	line-height: 41px;
}

.filter legend  {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
}


.sort {
	font-size: 16px;
	font-weight: normal;
}

.radio,
.checkbox {
	font-size: 16px;
	line-height: 18px;
}
/**************************************************????????????????????????????????*****************/
.button-apply[type="submit"] {

	font-size: 16px;
	line-height: 18px;	
  	border-style: solid;
  	border-width: 2px;
  	background-image: none;
  	box-shadow: none;
  	border-color: rgb(255, 255, 255) rgb(255, 255, 255);
  	background-color: #9cb0a4;

  

}
.button-apply[type="submit"]:hover {

	font-size: 16px;
	line-height: 18px;	
  	border-style: solid;
  	border-width: 2px;
  	background-image: none;
  	box-shadow: none;
  	color: #323232;

  	border-color: rgb(255, 255, 255) rgb(255, 255, 255);
  	background-color: #ffffff;

  

}
.button-apply[type="submit"]:active {

	font-size: 16px;
	line-height: 18px;	
  	border-style: solid;
  	border-width: 2px;
  	background-image: none; 	
  	color: #323232;
  	border-color: rgb(255, 255, 255) rgb(255, 255, 255);
  	background-color: #eaeaea;
  	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);

  


}
/*************************************************************************/


ul.title-list-radio{
	list-style-type: none;
}



ul.title-list-checkbox {
	list-style-type: none;
}





li.pagination-item {
	list-style-type: none;
}

.pagination-item a{
	color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}


.pagination-item a:hover{
	color: #ffffff;
	background-color: #9db1a5;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}
.pagination-item a:active{
	color: #323232;
	background-color: #ffffff;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}





















.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }