body {
	margin: 0;
	padding:0;

	font-family: "Roboto", Aria, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: bold;
	color: #ffffff;


	
	background-color: #849d8f;
	background-image: url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-size: 1045px 881px;
	background-position: 50% 0;
}


/*Каталог Доставка и оплата ОКомпании
обычное состояние */
.site-navigation a {
	line-height: 18px;
	padding: 9px 14px;
	color: #ffffff;
	
}
/*Каталог Доставка и оплата ОКомпании
при наведении*/
.site-navigation a:visited {
	background-color: #d07058;
	color: #ffffff;
}

.site-navigation a:hover {
	background-color: #f7f6f3;
	color: #323232;
	text-decoration: none;
	line-height: 18px;
	padding: 11px 14px;
	border-radius: 21px;

}
.site-navigation a:active {
	background-color: #ededed;
	box-shadow: inset 0 2px 2px #696969;
	

}


/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
ссылки без подчеркивания 
без отступов
шрифт темный*/
ul.inner-ice {
	/*display: none;*/

}
.inner-ice a {
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	padding:0px;
	color: #323232;
	padding-left: 21px;
}
.inner-ice a:active {
	box-shadow: none;
}
 ul.inner-ice{
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0;
}

/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на элементы списка(не ссылки) */
.inner-ice li:hover
 {
	background-color: #fbded8;
	
}

.inner-ice ul li {
	padding: 5px;
}
/*Новинки Сливочные Щербеты Фруктовый лед Мелорин
при наведении на ссылку*/
.inner-ice a:hover {
	background-color: #fbded8;
	padding: 0px;
	padding-left: 21px;
		
}
/*белай фон где список*/
.inner-ice {
	width: 143px;
	height: 169px;
	background-color: #f8f7f4;
	border-radius: 5px;
	
		

}
/*Новинки жирным шрифтом*/
.inner-new a {
	font-weight: bold;

}


/*поиск,вход,корзина*/
.nav-cart-box a,
.login-link	a,
.user-navigation svg{
	background-color: #a4b9ad;
	fill: #ffffff;
} 
.nav-cart-box a:hover,
.login-link	a:hover,
.user-navigation svg:hover{
	background-color: #f8f7f4;
	fill: #323232;
} 
.user-navigation li a:hover {
	color: #323232;
}

.user-navigation li a {
	font-size: 14px;
	line-height: 16px;
	text-decoration: none;
	padding: 10px;
}
a.login-link,
a.nav-cart-box {
	border-radius: 40px; 
}
.search-link svg{
	padding: 14px;
	border-radius: 40px;

}/*ссылки белый шрифт
поиск вход карзина*/
.user-navigation a {           
	color: #ffffff;

} 
      
.login-link a:hover {
	background-color: #f8f7f4;
	fill: #323232;
}

/*********************************************************/

/***************************************************************/
.input-form {
	background-color: #f8f7f4;
	width: 313px;
	height: 252px;
}

.working-time {
	font-size: 14px;
	line-height: 16px;
}

.phone {
	font-size: 22px;
	line-height: 24px;
}
.slide {
	font-size: 60px;
	line-height: 60px;
}

button[type="submit"]  {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
	 
  
}

/******************************НЕ ПОЛУЧАЕТСЯ*/
button[type="submit"]:hover {
    background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
 	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
}
button[type="submit"]:active {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
}


.help a {
	background-color: #f8f7f4 ;
	color: #323232;
}

.help li a {
	color: #323232;
	font-size: 13px;
	line-height: 24px;
	text-decoration: underline;

}
.help li a:hover{
	color: #e84d37;
}





button[type="button_slide"] {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
}
button[type="button_slide"]:hover {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
}                               /*************************ТОЖЕ НЕ РАБОТАЕТ****/
button[type="button_slide"]:hover {
	background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	padding: 7px 17px; 
	color: #ffffff;
	border: 0px;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	border-radius: 30px;
}



.ice-cream img {
	border-radius: 50%;
} 
/**************************************************************/
.ice-cream a {
	
	color: #ffffff;

}
.ice-cream a:hover {
	
	color: #ffbc9e;
	
}

/***************************************************************/

.advertising h2 {
	font-size: 35px;
	line-height: 41px;
}
.advertising p {
	font-size: 18px;
	line-height: 22px;
}
.raspberry {
	background-image: url(../img/raspberry.jpg);
	width: 420px;
	height: 229px;
}
.chocolate {
	background-image: url(../img/chocolate.jpg);
	width: 420px;
	height: 229px;
}

.advertising a.button {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.advertising a.button:hover {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.advertising a.button:active {	
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}

.about {
	background-image: url(../img/waffle.jpg);

}
.about h3 {
	font-size: 24px;
	line-height: 30px;
}

.about
 {
	color: #323232;
	font-weight: normal;
}
.news_blog {
	background-image: url(../img/blog.jpg);
	width: 420px;
	height: 220px;
}
.news_blog a{
	color: #353535;
	font-weight: normal;
}
.news_blog p
{
	color: #5a5a5a;
	font-weight: normal;
}

.distribution {
	width: 420px;
	height: 220px;
}
.distribution p
{
	color: #5a5a5a;
	font-weight: normal;
}

.contacts
 {
	color: #323232;
	font-weight: normal;
}

.contacts p {
	font-size: 14px;
	line-height: 20px;
}


.contacts p b{
	font-size: 18px;
	line-height: 24px;
}
.info_partnership a{
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
}
.info_partnership a:hover {
	color: #ffbc9e;
}
.info_partnership a:nth-of-type(1){
	font-weight: normal;
}

.htmlacademy p {
	font-size: 12px;
	line-height: 18px;
}
.htmlacademy p a  {
	color: #ffffff;
	font-weight: normal;
}
.htmlacademy p a:hover  {
	color: #ffbc9e;
	
}


.feedback b {
	color: #323232;
	font-weight: normal;
}




/*************************************************************************************************КАТАЛОГ******************************************************************************************************/


.bucket {
	background-color: #ffffff;
	width: 570px;
	height: 277px;
	border-radius: 10px;
}
.bucket td {
	color: #323232;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}
.bucket span{
	color: #9f9f9f;
}



.way a {
	color: #ffffff;
}
.way a:hover {
	color: #ffbc9e;
}
/***********************************************!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!********************/
/*.creamy {         
  	background-color: rgb(208, 112, 88);
}*/


.nav-cart p{
	color: #323232;
}


.nav-cart a.button {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.nav-cart a.button:hover {
	background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}
.nav-cart a.button:active {	
    background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
    padding: 7px 17px; 
	border: 0px;
	border-radius: 30px;
  
}




























.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  }